.cm
*~
*.auto.sls
*.autodefun.sls
*.autodest.sls
*.clf
chapter-1.tex
chapter-2.tex
chapter-3.tex
chapter-4.tex
chapter-5.tex
chapter-6.tex
chapter-7.tex
chapter-8.tex
chapter-9.tex
chapter-10.tex
chapter-11.tex
chapter-A.tex
*.ps
*.dvi
*.log
*.aux
*.pdf
*.bbl
*.blg
*.brf
*.snm
*.lof
*.lot
*.nav
*.toc
*.out
*.tui
*.top
*mpgraph.mp
*.synctex.gz
_region_.tex
pages.csv
pages.png